<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    HOME
    <img src="https://lh3.googleusercontent.com/proxy/fOLGgDc43cjEuyR6Dn7L_d_XXKAbqAh9IHhlIb8AHmvXg1QY6caHCFgUEbpbiFunwEQ_ljNsqBFHy2Z0ykNgAptB57sqnwJMFlKFnBZi3yCDSlk0UUhblFQK2L0">
    <img src="unnamed.jpg">
    <p>Luminarias: <input type="number" name="luminarias"></p>
    <p>Ordenadores: <input type="number" name="ordenadores"></p>
    <p>Frigorificos: <input type="number" name="frigorificos"></p>
    <p>Ventiladores: <input type="number" name="ventiladores"></p>
    <p>Lavadoras: <input type="number" name="lavadoras"></p>
    <p>Televisiones: <input type="number" name="televisiones"></p>
</body>
</html>