<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <p>Luminarias: <input type="number" name="luminarias"></p>
    <p>Ordenadores: <input type="number" name="ordenadores"></p>
    <p>Frigorificos: <input type="number" name="frigorificos"></p>
    <p>Ventiladores: <input type="number" name="ventiladores"></p>
    <p>Lavadoras: <input type="number" name="lavadoras"></p>
    <p>Televisiones: <input type="number" name="televisiones"></p>
    <p>Bomba presion: <input type="number" name="televisiones"></p>
</body>
</html>