<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show data</title>
</head>
<body>
    <li>Datos de entrada</li>
    <li>Número de luminarias: {{ luminarias }}</li>
    <li>Número de ordenadores: {{ ordenadores }}</li>
    <li>Número de frigorificos: {{ frigorificos }}</li>
    <li>Número de ventiladores: {{ ventiladores }}</li>
    <li>Número de lavadoras: {{ lavadoras }}</li>
    <li>Número de televisiones: {{ televisiones }}</li>
    <li>Número de bomba_presion: {{ bomba_presion }}</li>


</body>
</html>